@import '../../../assets/scss/variables';

.scoresheet-container {
  width: 100%;
  max-width: 700px;
  display: flex;
  margin: 20px auto;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  box-sizing:border-box;

  .upper-section, .lower-section {
    width: 50%;
    margin: 16px;

    .section-title {
      padding: 0 0 8px;
      color: rgba(0,0,0,0.43);
    }

    .section-row {
      display: flex;
      padding: 4px 0;
      border-bottom: 1px solid #e0e0e0;
      box-sizing: border-box;
      align-items:center;
      .name {
        flex: 1;
      }
      .value {
        width: 50px;
        height: 35px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f0f0f0;
        border: 1px solid #e0e0e0;
        cursor: pointer;

        &:hover {
          background-color: #e0e0e0;
        }
        &:active {
          background-color: #cbcbcb;
        }

        &.locked {
          background-color: transparent;
          border: 0;
        }
      }

      &.bonus {
        background-color: #f0f0f0;
        .value {
          cursor: default;
          background-color: #f0f0f0;
          border: 0;
        }
      }

      &.total {
        background-color: #e0e0e0;
        .value {
          cursor: default;
          background-color: #e0e0e0;
        }
      }
    }
  }

  @media only screen and(max-width: $breakpoint-mobile) {

    flex-direction: column;
    padding: 0 8px;
    border: 0;
    background-color: transparent;

    .upper-section, .lower-section {
      background-color: #fff;
      width:100%;
      margin: 0;
      margin-bottom: 8px;
      border: 1px solid #e0e0e0;
      .section-title {
        padding: 16px 8px 8px;
      }
      .section-row {
        padding: 8px;
      }
    }
  }
}
