@import '../../assets/scss/variables';

.game-wrapper {
  height: 100%;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    text-align: center;
  }

  .raised-button, .flat-button {
    padding: 16px 32px;
    font-size:1.2em;
    border: 0;
    cursor: pointer;
    outline: none;
  }

  .raised-button {
    background-color: #000;
    color: #fff;
    &:hover {
      background-color:rgba(0,0,0,0.8);
    }
  }
  .flat-button {
    background-color:transparent;
    color: rgba(0,0,0,0.87);
  }

  .game {
    display: flex;
    flex-direction: column;
  }

  .conn-info {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 0.8em;
  }

  .result {
    text-align: center;
  }

  @media only screen and(max-width: $breakpoint-mobile) {

    .game {
      flex-direction: column-reverse;
    }
  }
}
