<div class="game-wrapper">
  <ng-container *ngIf="gameStarted || !multi">
    <h1>{{turn}}</h1>
    <app-scoresheet [dice]="dice"></app-scoresheet>
    <app-dice (result)="setDice($event)"></app-dice>
  </ng-container>
  <ng-container *ngIf="!gameStarted && multi">
    <h1 class="title">Yahtzee</h1>
    <p>Press the start button to start the game</p>
    <button class="start-button" (click)="startGame()">
      Start game
    </button>
  </ng-container>

  <div class="conn-info" *ngIf="multi">
    <span>Total players connected: {{totalPlayers}}</span>
  </div>
</div>
